body{
  text-align: center;
}

#parent-div{
  width: 900px;
  display: inline-block;
  border-style: solid;
  border-color: lightgrey;
  border-width: 10px;
}
#grid-element{
  display: inline-block;
  width: 10px;
  height: 10px;
  cursor: pointer;
  border: solid;
  border-width: 0.002px;
  border-color: lightgrey;
}
ul{
  text-align: center;
}
.upper-buttons{
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer{
  color: gray;
  margin: 10px;
}
a{
  color: gray;
}